<h1 class="my-100 mb-5 "> you are authenticated!, welcome <%= name %> </h1>
<h2 class="my-150 mb-5 "> This is an online election system @THE_CYBER_WARRIORS_TEAM! </h2>
<a href="/users/logout"> <button type="submit" class="btn btn-outline-primary btn-lg btn-block">logout</button></a>